DB_USER=neondb_owner
DB_PASS=npg_sEDFZo0t1NWl
DB_NAME=agentic_service_stage1
DB_HOST=ep-long-sea-a1ua6zao.ap-southeast-1.aws.neon.tech
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

INQUIRY_DB_HOST = ep-long-sea-a1ua6zao.ap-southeast-1.aws.neon.tech
INQUIRY_DB_PORT = 5432
INQUIRY_DB_USER = neondb_owner
INQUIRY_DB_PASS = npg_sEDFZo0t1NWl
INQUIRY_DB_NAME = erp_main

TARGET_DB_HOST=ep-long-sea-a1ua6zao.ap-southeast-1.aws.neon.tech
TARGET_DB_PORT=5432
TARGET_DB_USER=neondb_owner
TARGET_DB_PASS=npg_sEDFZo0t1NWl
TARGET_DB_NAME=erp_main
GROQ_API_KEY=""

VLLM_HOST=http://14.195.173.186:4040
VISION_VLLM_HOST=http://110.227.210.189:4040

MINIO_ENDPOINT=minio
MINIO_ENDPOINT_PORT=9005
MINIO_CONSOLE_PORT=9006
MINIO_ACCESS_KEY=tradingerpfiles
MINIO_SECRET_KEY=
MINIO_BUCKET=documents
MINIO_WHATSAPP_BUCKET=whatsapp-attachments
MINIO_SECURE=False

# Email Service
EMAIL_SERVICE_PORT=3001
EMAIL_HOST=http://email-service:3001
WHATSAPP_HOST=http://whatsapp-service:8080
WHATSAPP_PORT=8077

APP_DB_NAME=agent_service_db
APP_DB_UNAME=postgres
APP_DB_PASS=postgres
APP_DB_HOST=127.0.0.1
APP_DB_PORT=5434

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=shadowtemp12@gmail.com
SMTP_PASS=syjy miib plye bbau

IMAP_USER=shadowtemp12@gmail.com
IMAP_PASSWORD=syjy miib plye bbau
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_TLS=true

GEMINI_API_KEY = AIzaSyD0wbt913TgNuEpPs_I5uf3ieFK-biq2ds
PORT=3032
PGSSLMODE=require